[Unit]
Description=Pic2PDF databases daily verified backup timer
Requires=backup-meta.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
